<template>
  <div>
    <component :is="layout">
      <div>About Page</div>
    </component>
  </div>
</template>

<script>
export default {
  computed: {
    layout() {
      return (this.$route.meta.layout || 'default') + '-layout'
    },
  },
}
</script>
