<template>
  <div>
    <component :is="layout">
      <div>Home Page {{ count }}</div>
      <button
        @click="plusOne"
        class="border border-solid border-gray-700 uppercase text-gray-800 hover:bg-gray-700 hover:text-white py-2 px-4 sm:py-3 sm:px-10"
      >
        plus one
      </button>
      <button
        @click="plusOne"
        class="border border-solid border-gray-700 uppercase text-gray-800 hover:bg-gray-700 hover:text-white py-2 px-4 sm:py-3 sm:px-10"
      >
        plus two
      </button>
    </component>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  computed: {
    ...mapGetters({
      count: 'count',
    }),
    layout() {
      return (this.$route.meta.layout || 'default') + '-layout'
    },
  },
  methods: {
    ...mapActions({
      plusOne: 'setCount',
    }),
  },
}
</script>
