<template>
  <div class="container-fluid">
    <div class="flex">
      <div class="w-1/3">
        <div class="px-2">
          <create-post></create-post>
        </div>
      </div>
      <div class="flex-1">
        <div class="px-2">
          <posts></posts>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { MainPost, CreatePost } from '@/js/components'

  export default {
    components: {
      'create-post': CreatePost,
      'posts': MainPost
    }
  }
</script>
