<template>
  <div>
    <component :is="layout">
      <div class="pb-16">User Page</div>
      <div class="users">
        <div class="loading" v-if="loading">
          Loading...
        </div>
        <div v-if="error" class="error">
          {{ error }}
        </div>
        <ul v-if="users">
          <li v-for="(user, id) in users" :key="id">
            <strong>Name:</strong> {{ user.name }}, <strong>Email:</strong>
            {{ user.email }}
          </li>
        </ul>
      </div>
    </component>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data() {
    return {
      loading: false,
      users: null,
      error: null,
    }
  },
  created() {
    this.fetchData()
  },
  computed: {
    layout() {
      return (this.$route.meta.layout || 'default') + '-layout'
    },
  },
  methods: {
    fetchData() {
      this.error = this.users = null
      this.loading = true
      axios.get('/api/users').then(response => {
        console.log(response)
      })
    },
  },
}
</script>
