<template>
  <form action="" @submit="createPost(post)">
    <h4 class="text-center text-2xl text-gray-600 mb-6">Post creation form</h4>
    <div class="form-group">
      <input type="text" placeholder="Post title" v-model="post.title" class="form-input" />
    </div>
    <div class="form-group">
      <input v-model="post.content" placeholder="Post content" class="w-full h-12 px-4 mb-3 border border-gray-700 rounded" />
    </div>
    <div class="form-group">
      <button :disabled="!isValid" class="border border-gray-700 rounded hover:bg-gray-700 hover:text-white px-8 py-3" @click.prevent="createPost(post)">Submit</button>
    </div>
  </form>
</template>

<script>
export default {
  name: "CreatePost",
  data() {
    return {
      post: {
        title: '',
        content: ''
      }
    }
  },
  methods: {
    createPost(post) {
      console.log(post)
      this.$store.dispatch('createPost', post)
    }
  },
  computed: {
    isValid() {
      return this.post.title !== '' && this.post.content !== ''
    }
  }
}
</script>

<style scoped>
  .form-input {
    @apply w-full h-12 px-4 mb-3 border border-gray-700 rounded;
  }
</style>
