<template>
  <div>
    Welcome to Vue.js on Laravel
  </div>
</template>

<script>
export default {
  name: 'welcome-laravel',
}
</script>

<style scoped>
html,
body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  height: 100vh;
  margin: 0;
}
</style>
