<template>
  <div class="bg-white w-full z-10">
    <div
      class="hidden sm:flex relative navbar py-4 border-b border-1 border-gray-400"
    >
      <ul class="flex items-center text-sm text-gray-800">
        <li class="hover:underline px-3">
          <router-link to="/" class="uppercase text-xs md:text-sm lg:text-base"
            >Home</router-link
          >
        </li>
        <li class="hover:underline px-3">
          <router-link
            to="/about"
            class="uppercase text-xs md:text-sm lg:text-base"
            >About</router-link
          >
        </li>
        <li class="hover:underline px-3">
          <router-link
            to="/user"
            class="uppercase text-xs md:text-sm lg:text-base"
            >Users</router-link
          >
        </li>
        <li class="hover:underline px-3">
          <router-link
            to="/posts"
            class="uppercase text-xs md:text-sm lg:text-base"
          >Posts</router-link
          >
        </li>
      </ul>
    </div>
  </div>
</template>
