<template>
  <div class="container-fluid">
    <navbar />
    <h1>Main Layout</h1>
    <slot />
  </div>
</template>

<script>
import Navbar from '@/js/components/common/Navbar.vue'

export default {
  components: {
    navbar: Navbar,
  },
}
</script>
